.css-design{
    background-color: blue;
    color: chocolate;
    border: 3px solid red;
    border-radius: 30px;
    margin: 0px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.text-margin{
    margin-left: 20px;
}
/* .size{ */
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
}